$blue: #141638;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$azul: #171a38;
$naranja: #ff6600;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$primario:$azul ;
$secundario:$naranja ;
$basico:$white ;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,

  "primario": $azul,
  "secundario": $naranja,
  "basico": $white
);

$font-family-sans-serif: Work Sans, Verdana, sans-serif;

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "./components/footer";
@import "./components/nav";

@import "./pages/index";
@import "./pages/about";
@import "./pages/tecnologia";
@import "./pages/soluciones";
@import "./pages/contacto";

/* Generales */
a{
  text-decoration: none;
}
/* Movile */
.fixedFlecha {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.fixedFlecha_img {
  width: 50px;
}
.linea {
  width: 100%;
  height: 3px;
  background-color: #ff6600;
}
.linea_small {
  width: 90%;
  margin-left: 5%;
  height: 3px;
  background-color: #ff6600;
}
.linea_izq {
  width: 20%;
  max-width: 150px;
  height: 20px;
  margin-left: 5%;
  margin-top: 80px;
  background-color: #ff6600;
}
.linea_izq-mod {
  width: 20%;
  max-width: 150px;
  height: 20px;
  margin-left: 5%;
  margin-top: 0px;
  background-color: #ff6600;
}
/* Tablet */
@media (min-width: 768px) {
  .linea_izq {
    width: 200px;
    margin-left: 5%;
  }
}
/* Desktop */
@media (min-width: 992px) {
  .fixedFlecha {
    bottom: 40px;
    right: 40px;
  }
  .fixedFlecha_img {
    width: 75px;
  }
  .linea_izq {
    width: 200px;
    margin-left: 10%;
    margin-top: 0;
  }
  .linea_izq-mod {
    width: 200px;
    margin-left: 10%;
    margin-top: 0;
  }
}
/* Inicio animaciones */
@keyframes boton_pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    transform: scale(0.8);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes boton_pulse_v2 {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 153, 0, 0.4);
  }
  70% {
    transform: scale(0.8);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 5));
  }
}
/* Fin animaciones */
