// extends
%fondo-translucido {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
%fondo-imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
%boton {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  animation: boton_pulse 2s infinite;
}
