// extends
%fondo-translucido {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
%fondo-imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
