.main_aboutUs {
  background: linear-gradient(
      rgba(189, 189, 189, 0.5),
      rgba(187, 187, 187, 0.5)
    ),
    url(../img/about_us/cientificos.jpg);
  width: 100%;
  @extend %fondo-translucido;
  &_wrapper {
    width: 80%;
    &_title {
      font-size: 1.8rem;
    }
    &_txt {
      font-size: 1rem;
      padding-top: 25px;
      text-align: justify;
    }
  }
}
.caracteristicasEmpresa {
  width: 100%;
  &_container {
    width: 90%;
    &_wrapperImg {
      width: 100%;
      padding: 10px 0;
      &_img {
        @include sizes(70vw,35vw);
        border-radius: 0 0 0 25px;
        border-left: solid 20px #141638;
        border-bottom: solid 20px #141638;
        &-mod {
          @include sizes(70vw,35vw);
          border-radius: 0 0 25px 0;
          border-right: solid 20px #141638;
          border-bottom: solid 20px #141638;
        }
      }
    }
    &_wrapperTxt {
      width: 100%;
      &_title {
        font-size: 2rem;
        padding-bottom: 10px;
      }
      &_subtitle {
        font-size: 1rem;
        padding-bottom: 10px;
      }
      &_txt {
        @include txt_size(1rem,1.5);
        text-align: justify;
      }
    }
  }
}
.wrapperLine {
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 8%;
  margin-right: 8%;
}
.equipo {
  width: 100%;
  padding-bottom: 40px;
  &_wrapperTxt {
    width: 80%;
    height: 2.5em;
    padding-top: 50px;
    padding-bottom: 20px;
    &_txt {
      font-size: 2rem;
      padding-bottom: 20px;
    }
  }
  &_wrapper {
    width: 90%;
    padding: 10px 0;
  }
  &_contenedor {
    padding-bottom: 25px;
    & figure {
      position: relative;
      height: 70vw;
      width: 70vw;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
      & img {
        @include sizes(100%);
      }
    }
    &_capa {
      position: absolute;
      top: 0;
      @include sizes(100%,20%);
      margin-top: 80%;
      background: rgba(123, 66, 0, 0.7);
      & h3 {
        @include txt_size(1rem,1.2);
        padding: 0 0 0 20px;
      }
      & p {
        visibility: hidden;
      }
    }
  }
}

@media (min-width: 768px) {
  .equipo {
    .equipo_contenedor {
      padding-left: 10px;
    }
    .equipo_contenedor figure {
      @include sizes(25vw);
    }
  }
}

@media (min-width: 992px) {
  .main_aboutUs {
    &_wrapper {
      &_title {
        font-size: 4rem;
      }
      &_txt {
        font-size: 1.5rem;
      }
    }
  }
  .caracteristicasEmpresa {
    width: 100%;
    &_container {
      width: 60%;
      padding: 20px 0;
      display: grid;
      grid-template-areas:
        "empresa_foto_1 empresa_texto_1"
        "empresa_texto_2 empresa_foto_2"
        "empresa_foto_3 empresa_texto_3";
      grid-template-rows: 1fr 0.5fr 1fr;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      &_wrapperImg {
        width: 400px;
        &_img {
          @include sizes(400px,200px);
          border-left: solid 30px #141638;
          border-bottom: solid 30px #141638;
          &-mod {
            @include sizes(400px,200px);
            border-right: solid 30px #141638;
            border-bottom: solid 30px #141638;
          }
        }
      }
      &_wrapperTxt {
        width: 450px;
        &_title {
          font-size: 2.9rem;
        }
      }
    }
  }
  .equipo {
    &_wrapperTxt_txt {
      font-size: 2.5rem;
    }
    &_wrapper {
      width: 80%;
    }
    &_contenedor {
      & figure {
        @include sizes(22vw);
        & img {
          transition: all 500ms ease-out;
        }
      }
      &_capa {
        @include sizes(100%);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        & h3 {
          transition: all 500ms ease-out;
          padding-top: 3%;
          padding-bottom: 8%;
        }
        & p {
          visibility: visible;
          font-size: 1rem;
          text-align: justify;
          max-width: 200px;
        }
      }
    }
    .equipo_contenedor figure:hover > .equipo_contenedor_capa {
      opacity: 1;
      visibility: visible;
    }
    .equipo_contenedor figure:hover > .equipo_contenedor_capa h3 {
      margin-top: 25%;
      margin-bottom: 0px;
    }
  }
}
