.main_contacto {
  &_wrapper {
    width: 100%;
  }
}
.canalesAtencion {
  width: 100%;
  padding-bottom: 30px;
  &_wrapperTxt {
    width: 90%;
    padding-top: 90px;
    &_title {
      font-size: 1.4rem;
      line-height: 1.5;
    }
    &_txt {
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }
  &_wrapperCard {
    width: 80%;
    &_card {
      &_img {
        width: 50px;
        padding-top: 20px;
      }
      &_title {
        font-size: 1.3rem;
        padding-top: 10px;
      }
      &_txt {
        font-size: 0.9rem;
        padding-top: 5px;
      }
    }
  }
}
.a_icon_social img:last-child {
  display: none;
}
.ubicacion {
  width: 100%;
  &_wrapperTxt {
    width: 90%;
    padding-top: 20px;
  }
  &_title {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  &_wrapperFrame {
    width: 100%;
    padding: 20px 0 0 0;
    & iframe {
      width: 100%;
    }
  }
}
.formulario {
  &_wrapperTxt {
    width: 80%;
    padding: 20px 0 20px 0;
    &_title {
      font-size: 2rem;
      line-height: 1.5;
    }
  }
  &_container {
    width: 80%;
    padding-bottom: 40px;
    &_wrapper {
      width: 90%;
      font-size: 1rem;
      line-height: 1.5;
      padding: 10px;
      border: solid 3px #ff6600;
      border-radius: 20px;
    }
  }
}

@media (min-width: 992px) {
  .main_contacto {
    padding-top: 60px;
  }
  .canalesAtencion {
    width: 50%;
    padding-bottom: 50px;
    &_wrapperTxt {
      width: 80%;
      padding-top: 40px;
      &_title {
        font-size: 1.7rem;
        line-height: 1.5;
      }
    }
  }
  .a_icon_social {
    & img:last-child {
      display: none;
    }
    &:hover img:last-child {
      display: block;
    }
    &:hover img:first-child {
      display: none;
    }
  }
  .ubicacion {
    width: 50%;
    &_wrapperTxt {
      width: 80%;
      padding-top: 40px;
    }
    &_title {
      font-size: 1.7rem;
      line-height: 1.5;
    }
    &_wrapperFrame {
      padding: 30px 0 0 0;
      & iframe {
        height: 600px;
      }
    }
  }
  .formulario {
    &_wrapperTxt {
      padding: 40px 0 20px 0;
    }
    &_container_wrapper {
      width: 550px;
      padding: 50px;
    }
  }
}
