.main_home {
  background: linear-gradient(
      rgba(189, 189, 189, 0.55),
      rgba(187, 187, 187, 0.55)
    ),
    url(../img/inicio/home_peces.png);
  @extend %fondo-translucido;
  &_wrapper {
    width: 80%;
    padding-top: 40px;
    &_title {
      font-size: 2rem;
    }
    &_txt {
      font-size: 1rem;
      padding-top: 20px;
      text-align: justify;
    }
    &_boton {
      @extend %boton;
      width: 140px;
      border: solid 2px #ff7200;
    }
  }
}
.desafioGlobal {
  width: 90%;
  &_wrapperTxt {
    height: 120px;
    padding-top: 20px;
    &_subtitle {
      @include txt_size(1.8rem, 1.2);
    }
    &_txtPlano {
      @include txt_size(1rem, 1.2);
    }
  }
  &_wrapperCard {
    width: 100%;
    padding-bottom: 40px;
    &_card {
      width: 90%;
      &_img {
        @include sizes(200px);
      }
      &_txtPlano {
        font-size: 0.9rem;
      }
    }
  }
}
.soluciones {
  &_wrapperIzq {
    height: 20rem;
    background-image: url(../img/inicio/Pescado1.jpg);
    @extend %fondo-imagen;
  }
  &_wrapperDer {
    height: 20rem;
    &_wrapperTxt {
      width: 90%;
      &_title {
        @include txt_size(1.25rem, 1.5);
        padding-bottom: 40px;
      }
      &_boton {
        @extend %boton;
        padding-left: 40px;
        padding-right: 40px;
        border: 0;
      }
    }
  }
}
.tecnologia {
  &_wrapperDer {
    height: 20rem;
    background-image: url(../img/inicio/Piletas1.jpg);
    @extend %fondo-imagen;
  }
  &_wrapperIzq {
    height: 20rem;
    &_wrapperTxt {
      width: 90%;
      &_title {
        @include txt_size(1.25rem, 1.5);
        padding-bottom: 15px;
      }
      &_txtPlano {
        @include txt_size(1rem, 1.5);
        padding-bottom: 40px;
      }
      &_boton {
        @extend %boton;
        padding-left: 40px;
        padding-right: 40px;
        border: solid 2px #ff7200;
      }
    }
  }
}
.empresas {
  padding: 15px 0;
  &_wrapperTxt {
    width: 90%;
    &_mediumSubtitle {
      font-size: 1.25rem;
    }
  }
}
.slider {
  width: 40%;
  &_container {
    animation: scroll 20s linear infinite;
    width: calc(200px * 10);
    &_empresas {
      width: 200px;
    }
  }
}

@media (min-width: 768px) {
  .main_home {
    &_wrapper {
      &_title {
        font-size: 2.8rem;
      }
      &_txt {
        font-size: 1.2rem;
      }
    }
  }
  .desafioGlobal {
    &_wrapperTxt {
      height: 80px;
    }
    &_wrapperCard {
      padding-bottom: 40px;
      &_card {
        width: 40%;
      }
    }
  }
  .slider {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .main_home {
    &_wrapper {
      width: 80%;
      &_title {
        font-size: 4rem;
      }
      &_txt {
        font-size: 1.5rem;
      }
    }
  }
  .desafioGlobal {
    &_wrapperTxt {
      width: 70%;
      &_subtitle {
        font-size: 2rem;
      }
      &_txtPlano {
        font-size: 1.3rem;
      }
    }
    &_wrapperCard {
      width: 80%;
      &_card {
        width: 300px;
        &_img:hover {
          transform: rotate(10deg);
        }
      }
    }
  }
  .soluciones {
    &_wrapperIzq {
      @include sizes(50%, 40rem);
    }
    &_wrapperDer {
      @include sizes(50%, 40rem);
      &_wrapperTxt {
        width: 80%;
        &_title {
          font-size: 1.5rem;
        }
      }
    }
  }
  .tecnologia {
    &_wrapperDer {
      @include sizes(50%, 40rem);
    }
    &_wrapperIzq {
      @include sizes(50%, 40rem);
      &_wrapperTxt {
        width: 80%;
        &_title {
          font-size: 2.5rem;
        }
        &_txtPlano {
          font-size: 1.1rem;
        }
      }
    }
  }
  .empresas {
    padding: 30px 0;
    &_wrapperTxt {
      width: 80%;
      &_mediumSubtitle {
        font-size: 1.8rem;
      }
    }
  }
  .slider {
    width: 55%;
    &_container {
      animation: scroll 40s linear infinite;
    }
  }
}
