.main_solucion {
  background: linear-gradient(
      rgba(189, 189, 189, 0.5),
      rgba(187, 187, 187, 0.5)
    ),
    url(../img/solucion/fondas_ras.jpg);
  @extend %fondo-translucido;
  &_wrapperTxt {
    @include sizes(90%, 100%);
    padding-left: 5%;
    &_title {
      @include txt_size(2rem, 1.5);
    }
  }
}
.pap {
  width: 100%;
  &_wrapperTxt {
    width: 90%;
    &_title {
      padding: 20px 0 20px 0;
      font-size: 2rem;
    }
  }
  &_wrapperCard {
    width: 90%;
    padding-bottom: 20px;
    &_card {
      width: 200px;
      &_img {
        width: 100px;
        padding-bottom: 10px;
      }
    }
  }
}
.solucionIntegral {
  &_wrapperImg {
    width: 100%;
    min-height: 200px;
    background-image: url(../img/solucion/agua_peces.jpg);
    @extend %fondo-imagen;
  }
  &_wrapperTxt {
    width: 90%;
    padding: 20px 5%;
    &_title {
      font-size: 1.8rem;
      text-align: justify;
      padding-bottom: 20px;
    }
    &_txt {
      @include txt_size(1.1rem, 1.5);
      text-align: justify;
    }
  }
}
.servicios {
  padding: 30px 0;
  &_wrapperCard {
    width: 90%;
    &_card {
      width: 300px;
      min-height: 200px;
      padding: 20px;
      margin-bottom: 20px;
      margin-right: 10px;
      border: solid #ff6600 3px;
      border-radius: 40px;
      &_img {
        width: 50px;
      }
      &_title {
        @include txt_size(1.5rem, 1.4);
      }
      &_txt {
        @include txt_size(1rem, 1.5);
        text-align: justify;
      }
    }
  }
}
.especiesIntro {
  &_container {
    width: 100%;
  }
  &_wrapperTxt {
    @include sizes(80%, 100%);
    padding: 30px 0;
    &_title {
      font-size: 2rem;
      padding-bottom: 20px;
    }
    &_txt {
      @include txt_size(1rem, 1.5);
    }
  }
  &_wrapperCard {
    width: 100%;
    padding: 30px 0;
    &_card {
      @include sizes(350px, 200px);
      &_img {
        @include sizes(300px, 150px);
      }
      &_title {
        @include txt_size(1.3rem, 1.4);
      }
      &_txt {
        @include txt_size(0.9rem, 1.4);
      }
    }
  }
}

@media (min-width: 768px) {
  .pap {
    &_wrapperTxt {
      width: 100%;
      &_title {
        padding-left: 10%;
        font-size: 2.5rem;
      }
    }
    &_wrapperCard {
      width: 80%;
      padding-bottom: 40px;
      &_card {
        width: 200px;
        padding-bottom: 20px;
        &_img {
          width: 100px;
          padding-bottom: 15px;
        }
      }
    }
  }
  .servicios {
    &_wrapperCard {
      width: 90%;
      &_card {
        @include sizes(350px, 350px);
      }
    }
  }
}

@media (min-width: 992px) {
  .main_solucion {
    &_wrapperTxt {
      width: 50%;
      padding-left: 10%;
      &_title {
        font-size: 3rem;
      }
    }
  }
  .pap {
    &_wrapperCard_card {
      @include sizes(200px);
    }
  }
  .solucionIntegral {
    &_wrapperImg {
      width: 50%;
    }
    &_wrapperTxt {
      width: 50%;
      min-height: 40rem;
      padding: 50px;
      &_title {
        font-size: 2.5rem;
      }
    }
  }
  .servicios {
    padding: 40px 0;
    &_wrapperCard {
      width: 70%;
      min-height: 600px;
      &_card {
        transition: all 1s;
        &:hover {
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          transform: scale(1.1);
        }
      }
    }
  }
  .especiesIntro {
    &_wrapperTxt {
      width: 70%;
      padding: 50px 0;
      &_title {
        font-size: 2.5rem;
      }
      &_txt {
        font-size: 1.1rem;
      }
    }
    &_wrapperCard {
      width: 80%;
      &_wrapperCard {
        &_card {
          @include sizes(33vw, 14vw);
          &_img {
            @include sizes(30vw, 12vw);
          }
        }
      }
    }
  }
}
