.impacto {
  padding-bottom: 40px;
  padding-top: 30px;
  &_wrapperLine {
    padding-left: 5%;
    padding-right: 70%;
  }
  &_wrapperTxt {
    width: 100%;
    &_title {
      padding: 20px 5%;
      font-size: 2rem;
    }
  }
  &_container {
    width: 100%;
  }
  &_wrapperCard_card {
    position: relative;
    @include sizes(80vw, 40vw);
    margin-bottom: 20px;
    & .face {
      position: absolute;
      @include sizes(100%);
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
    }
    & .front {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px #000;
      & img {
        position: absolute;
        @include sizes(100%);
        object-fit: cover;
      }
      & h3 {
        @include txt_size(1rem, 45px);
        position: absolute;
        bottom: 0;
        @include sizes(100%, 45px);
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    & .back {
      visibility: hidden;
    }
  }
}
.alternativa {
  padding: 30px 0;
  &_wrapperLine {
    padding-left: 5%;
    padding-right: 70%;
  }
  &_container {
    width: 100%;
  }
  &_wrapper {
    width: 100%;
  }
  &_wrapperTxt {
    width: 90%;
    &_title {
      padding: 20px 0;
      font-size: 2rem;
    }
    &_txt {
      font-size: 1rem;
      text-align: justify;
    }
  }
  &_wrapperImg {
    width: 90%;
    &_img {
      width: 100%;
      padding-top: 20px;
    }
  }
}
.s_tecnologia {
  padding: 40px 0;
  &_wrapperLine {
    padding-left: 5%;
    padding-right: 70%;
  }
  &_container {
    width: 100%;
  }
  &_wrapperTxt {
    width: 90%;
    &_title {
      padding: 20px 0;
      font-size: 2rem;
    }
    &_txt {
      @include txt_size(1rem, 1.4);
      text-align: justify;
    }
  }
  &_wrapperVideo {
    width: 90%;
    padding: 20px 0 0 0;
  }
}

@media (min-width: 768px) {
  .impacto {
    &_wrapperTxt_title {
      padding: 20px 5%;
      font-size: 3rem;
    }
    &_wrapperCard {
      display: grid;
      grid-template-areas:
        "impactoAmbiental-1 impactoAmbiental-2"
        "impactoAmbiental-3 impactoAmbiental-4";
      grid-template-rows: repeat(2fr, 1fr);
      grid-template-columns: repeat(2fr, 1fr);
      gap: 10px;
      &_card {
        @include sizes(40vw, 20vw);
      }
    }
  }
  .s_tecnologia {
    &_wrapperLine {
      padding-left: 5%;
      padding-right: 80%;
    }
    &_wrapperTxt_title {
      font-size: 3rem;
    }
  }
}

@media (min-width: 992px) {
  .impacto {
    padding-top: 150px;
    &_wrapperTxt_title {
      padding-left: 10%;
      font-size: 4.5rem;
    }
    &_wrapperCard {
      gap: 50px;
      &_card {
        @include sizes(30vw, 15vw);
        & .face {
          transition: 500ms;
        }
        & .back {
          visibility: visible;
          @include txt_size(1rem, 1.5);
          transform: perspective(600px) rotateY(180deg);
          background: rgba(207, 117, 0, 0.671);
          padding: 15px;
          box-shadow: 0 5px 10px #000;
          & h3 {
            padding-bottom: 15px;
          }
        }
        &:hover .front {
          transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back {
          transform: perspective(600px) rotateY(360deg);
        }
        &_img {
          padding: 0;
        }
      }
    }
  }
  .alternativa {
    padding: 100px 0;
    &_container {
      width: 100%;
    }
    &_wrapperTxt {
      width: 80%;
      min-height: 300px;
      &_title {
        font-size: 4.5rem;
      }
      &_txt {
        @include txt_size(1.5rem, 1.6);
      }
    }
    &_wrapperImg {
      width: 600px;
      &_img {
        height: 300px;
        transition: all 2s;
        &:hover {
          transform: scale(1.6);
        }
      }
    }
  }
  .s_tecnologia {
    padding: 100px 0 0 0;
    &_wrapperTxt {
      width: 80%;
      min-height: 300px;
      &_title {
        padding: 20px 0;
        font-size: 4.5rem;
      }
      &_txt {
        @include txt_size(1.4rem, 1.5);
      }
    }
    .s_tecnologia_wrapperVideo {
      width: 600px;
      padding: 50px 0;
    }
  }
}
