.impactoAmbiental {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 30px;
}
.impactoAmbiental_wrapperLine {
  padding-left: 5%;
  padding-right: 70%;
}
.impactoAmbiental_wrapperTxt {
  width: 100%;
}
.impactoAmbiental_wrapperTxt_title {
  padding: 20px 5%;
  font-size: 2rem;
  font-family: "Work Sans Medium", Verdana, sans-serif;
  text-align: start;
  line-height: 1.2;
  color: rgb(0, 0, 50);
}
.impactoAmbiental_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.impactoAmbiental_wrapperCard_card {
  position: relative;
  width: 80vw;
  height: 40vw;
  margin-bottom: 20px;
}
.impactoAmbiental_wrapperCard_card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}
.impactoAmbiental_wrapperCard_card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.impactoAmbiental_wrapperCard_card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.impactoAmbiental_wrapperCard_card .front h3 {
  font-style: normal;
  font-size: 1rem;
  font-family: "Work Sans Medium", Verdana, sans-serif;
  color: rgb(0, 0, 50);
  line-height: 45px;
  text-align: center;
  margin-bottom: 0;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
.impactoAmbiental_wrapperCard_card .back {
  visibility: hidden;
}
.impactoSocial {
  background-color: #141638;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.impactoSocial_wrapperLine {
  padding-left: 5%;
  padding-right: 70%;
}
.impactoSocial_wrapperTxt {
  width: 100%;
}
.impactoSocial_wrapperTxt_title {
  padding: 20px 5%;
  font-size: 2rem;
  font-family: "Work Sans Medium", Verdana, sans-serif;
  text-align: start;
  line-height: 1.2;
  color: white;
}
.impactoSocial_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.impactoSocial_wrapperCard_card {
  position: relative;
  width: 80vw;
  height: 40vw;
  margin-bottom: 20px;
}
.impactoSocial_wrapperCard_card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}
.impactoSocial_wrapperCard_card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.impactoSocial_wrapperCard_card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.impactoSocial_wrapperCard_card .front h3 {
  font-style: normal;
  font-size: 1rem;
  font-family: "Work Sans Medium", Verdana, sans-serif;
  color: rgb(0, 0, 50);
  line-height: 45px;
  text-align: center;
  margin-bottom: 0;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
.impactoSocial_wrapperCard_card .back {
  visibility: hidden;
}
.alternativa {
  width: 100%;
  padding: 30px 0;
}
.alternativa_wrapperLine {
  padding-left: 5%;
  padding-right: 70%;
}
.alternativa_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alternativa_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.alternativa_wrapperTxt {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.alternativa_wrapperTxt_title {
  padding: 20px 0;
  font-size: 2rem;
  font-family: "Work Sans Medium", Verdana, sans-serif;
  text-align: start;
  line-height: 1.2;
  color: rgb(0, 0, 50);
}
.alternativa_wrapperTxt_txt {
  font-style: normal;
  font-size: 1rem;
  font-family: "Work Sans", Verdana, sans-serif;
  text-align: justify;
  line-height: 1.4;
  color: rgb(0, 0, 50);
}
.alternativa_wrapperImg {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.alternativa_wrapperImg_img {
  width: 100%;
  padding-top: 20px;
}
.s_tecnologia {
  width: 100%;
  background-color: #141638;
  padding: 40px 0;
}
.s_tecnologia_wrapperLine {
  padding-left: 5%;
  padding-right: 70%;
}
.s_tecnologia_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s_tecnologia_wrapperTxt {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.s_tecnologia_wrapperTxt_title {
  padding: 20px 0;
  font-style: normal;
  font-size: 2rem;
  font-family: "Work Sans Medium", Verdana, sans-serif;
  text-align: start;
  line-height: 1.2;
  color: white;
}
.s_tecnologia_wrapperTxt_txt {
  font-style: normal;
  font-size: 1rem;
  font-family: "Work Sans", Verdana, sans-serif;
  text-align: justify;
  line-height: 1.4;
  color: white;
}
.s_tecnologia_wrapperVideo {
  width: 90%;
  display: flex;
  padding: 20px 0 0 0;
}

@media (min-width: 768px) {
  .impactoAmbiental_wrapperTxt_title {
    padding: 20px 5%;
    font-size: 3rem;
    font-family: "Work Sans", Verdana, sans-serif;
  }
  .impactoAmbiental_container {
    flex-direction: row;
    justify-content: space-around;
  }
  .impactoAmbiental_wrapperCard {
    display: grid;
    grid-template-areas:
      "impactoAmbiental-1 impactoAmbiental-2"
      "impactoAmbiental-3 impactoAmbiental-4";
    grid-template-rows: repeat(2fr, 1fr);
    grid-template-columns: repeat(2fr, 1fr);
    gap: 10px;
  }
  .impactoAmbiental_wrapperCard_card {
    width: 40vw;
    height: 20vw;
  }
  .impactoSocial_wrapperTxt_title {
    padding: 20px 5%;
    font-size: 3rem;
    font-family: "Work Sans", Verdana, sans-serif;
  }
  .impactoSocial_container {
    flex-direction: row;
    justify-content: space-around;
  }
  .impactoSocial_wrapperCard {
    display: grid;
    grid-template-areas:
      "impactoAmbiental-1 impactoAmbiental-2"
      "impactoAmbiental-3 impactoAmbiental-4";
    grid-template-rows: repeat(2fr, 1fr);
    grid-template-columns: repeat(2fr, 1fr);
    gap: 10px;
  }
  .impactoSocial_wrapperCard_card {
    width: 40vw;
    height: 20vw;
  }
  .alternativa_wrapperTxt_title {
    font-size: 3rem;
  }
  .s_tecnologia_wrapperLine {
    padding-left: 5%;
    padding-right: 80%;
  }
  .s_tecnologia_wrapperTxt_title {
    font-size: 3rem;
  }
  .s_tecnologia_wrapperVideo {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .impactoAmbiental {
    padding-top: 150px;
  }
  .impactoAmbiental_wrapperTxt_title {
    padding-left: 10%;
    font-size: 4.5rem;
  }
  .impactoAmbiental_wrapperCard {
    gap: 50px;
  }
  .impactoAmbiental_wrapperCard_card {
    width: 30vw;
    height: 15vw;
  }
  .impactoAmbiental_wrapperCard_card .face {
    transition: 500ms;
  }
  .impactoAmbiental_wrapperCard_card .back {
    visibility: visible;

    font-style: normal;
    font-size: 1rem;
    font-family: "Work Sans", Verdana, sans-serif;
    color: rgb(0, 0, 50);
    line-height: 1.5;
    text-align: start;

    transform: perspective(600px) rotateY(180deg);
    background: rgba(207, 117, 0, 0.671);
    padding: 15px;
    color: #f3f3f3;
    box-shadow: 0 5px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .impactoAmbiental_wrapperCard_card .back h3 {
    padding-bottom: 15px;
  }
  .impactoAmbiental_wrapperCard_card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .impactoAmbiental_wrapperCard_card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  .impactoAmbiental_wrapperCard_card_img {
    padding: 0;
  }
  .impactoSocial {
    padding-top: 100px;
  }
  .impactoSocial_wrapperTxt_title {
    padding-left: 10%;
    font-size: 4.5rem;
  }
  .impactoSocial_wrapperCard {
    gap: 50px;
  }
  .impactoSocial_wrapperCard_card {
    width: 30vw;
    height: 15vw;
  }
  .impactoSocial_wrapperCard_card .face {
    transition: 500ms;
  }
  .impactoSocial_wrapperCard_card .back {
    visibility: visible;

    font-style: normal;
    font-size: 1rem;
    font-family: "Work Sans", Verdana, sans-serif;
    color: rgb(0, 0, 50);
    line-height: 1.5;
    text-align: start;

    transform: perspective(600px) rotateY(180deg);
    background: rgba(207, 117, 0, 0.671);
    padding: 15px;
    color: #f3f3f3;
    box-shadow: 0 5px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .impactoSocial_wrapperCard_card .back h3 {
    padding-bottom: 15px;
  }
  .impactoSocial_wrapperCard_card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .impactoSocial_wrapperCard_card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  .impactoSocial_wrapperCard_card_img {
    padding: 0;
  }
  .alternativa {
    padding: 100px 0;
  }
  .alternativa_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .alternativa_wrapperTxt {
    width: 80%;
    min-height: 300px;
  }
  .alternativa_wrapperTxt_title {
    font-size: 4.5rem;
    font-family: "Work Sans", Verdana, sans-serif;
    text-align: start;
  }
  .alternativa_wrapperTxt_txt {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .alternativa_wrapperImg {
    width: 600px;
  }
  .alternativa_wrapperImg_img {
    height: 300px;
    padding-top: 0;
    transition: all 2s;
  }
  .alternativa_wrapperImg_img:hover {
    transform: scale(1.6);
  }
  .s_tecnologia {
    padding: 100px 0 0 0;
  }
  .s_tecnologia_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .s_tecnologia_wrapperTxt {
    width: 80%;
    min-height: 300px;
  }
  .s_tecnologia_wrapperTxt_title {
    padding: 20px 0;
    font-size: 4.5rem;
    font-family: "Work Sans", Verdana, sans-serif;
  }
  .s_tecnologia_wrapperTxt_txt {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .s_tecnologia_wrapperVideo {
    width: 600px;
    padding: 50px 0;
  }
}
