.footer_ {
  width: 100%;
  padding: 10px 0;
  background-color: #171a38;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &wrapperLogo {
    height: 80px;
    display: flex;
    align-items: center;
    &_img {
      height: 60px;
    }
  }
  &wrapperTxt {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_txt {
      font-style: medium;
      font-size: 0.9rem;
      font-family: "Work Sans Medium", Verdana, sans-serif;
      text-align: center;
      line-height: 1.5;
      color: white;
    }
  }
  &wrapperRedes {
    height: 50px;
    display: flex;
    align-items: center;
    &_img {
      width: 50px;
      padding: 0 10px;
    }
  }
}
@media (min-width: 992px) {
  .footer_ {
    padding: 20px 0;
    flex-direction: row;
    justify-content: space-around;
    &wrapperLogo {
      height: 170px;
      &_img {
        height: 80px;
      }
    }
    &wrapperTxt {
      height: 170px;
      &_txt {
        line-height: 2;
      }
    }
    &wrapperRedes {
      height: 170px;
      &_img {
        width: 50px;
      }
    }
  }
}
