.nav_bkg {
  width: 100%;
  background-color: #141638;
  position: fixed;
  z-index: 1;
}
.nav_logo {
  padding-left: 20px;
}
.nav_boton {
  display: flex;
  justify-content: flex-end;
}
.nav_boton ul{
  text-decoration: none;
  color: white;
}
.nav_boton ul li a {
  font-style: Medium;
  font-size: 1rem;
  font-family: "Work Sans Medium", Verdana, sans-serif;
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
  text-align: start;
}

@media (min-width: 992px) {
  .nav_boton {
    padding-right: 20px;
  }
  .nav_boton ul li {
    padding: 0 20px;
  }
  .nav_boton_animame {
    position: relative;
  }
  .nav_boton_animame:after {
    content: "";
    width: 0;
    height: 4px;
    background-color: #ff6600;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all 0.5s;
    will-change: width;
  }
  .nav_boton_animame:hover:after {
    width: 100%;
    right: 0;
  }
}
