  .nav_bkg {
    width: 100%;
    background-color: #141638;
    z-index: 1;
  }
  .nav_boton ul{
    text-decoration: none;
    color: white;
  }
  .nav_boton ul li a {
    font-style: Medium;
    font-size: 1rem;
    font-family: "Work Sans Medium", Verdana, sans-serif;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    text-align: start;
  }