.nav {
  &_bkg {
    z-index: 1;
  }
  &_boton ul li a {
    font-style: Medium;
    font-weight: 500;
  }
}

@media (min-width: 992px) {
  .nav_boton {
    padding-right: 20px;
  }
  .nav_boton ul li {
    padding: 0 20px;
  }
  .nav_boton_animame {
    position: relative;
  }
  .nav_boton_animame:after {
    content: "";
    width: 0;
    height: 4px;
    background-color: #ff6600;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all 0.5s;
    will-change: width;
  }
  .nav_boton_animame:hover:after {
    width: 100%;
    right: 0;
  }
}
